<link rel="stylesheet" href="/css/index.css">
<main>
    <div>
        <button>
            <a href="/admin/sign-in">Admin Portal</a>
        </button>
        <button>
            <a href="/customer/sign-in">Customer Portal</a>
        </button>
    </div>
</main>