<!-- paid payments -->
<div class="main-content" id="paid-payment">
    <div class="container">
        <h1>All Paid Payemnt List</h1>
        <div class="paidPayment">
            <div class="paid-payment-list">
                <p> Customer Name : </p>
                <p> Loan Amount : </p>
                <p> Total Term : </p>
                <p> Payment Status : </p>
            </div>
        </div>
    </div>            
</div>