<!-- pending payments -->
<div class="main-content" id="pending-payment">
    <div class="container">
        <h1>All Pending Payemnt List</h1>
        <div class="pendingPayment">
            <div class="pending-payment-list">
                <p> Customer Name : </p>
                <p> Loan Amount : </p>
                <p> Remaning Amount : </p>
                <p> Total Term : </p>
                <p> Remaning Term : </p>
                <p> Complete Term : </p>
                <p> Payment Status : </p>
                <p> Next Payment Date : </p>
                <p><a href="/customer/payments/loan-payment/:id">Pay EMI</a></p>
            </div>
        </div>
    </div>            
</div>